blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  height: 175px;
  padding: 5px 5px; }
  blockquote p {
    display: inline; }

.articleGridDisplay {
  width: 195px;
  float: left;
  border: 1px green solid; }

.sidebar section i {
  font-size: 16px;
  cursor: pointer; }

.sidebar section .displayControl {
  width: 100%;
  text-align: left; }

@media (max-width: 640px) {
  .sidebar {
    border-bottom: 5px #ccc solid;
    margin-bottom: 10px; }
    .sidebar section .displayControl {
      display: none; } }

@media (min-width: 641px) and (max-width: 1023px) {
  .sidebar {
    border-bottom: 5px #ccc solid;
    margin-bottom: 10px; }
    .sidebar section .displayControl {
      display: none; } }
